flat_files/
.Rproj.user
*.xlsx
*.gz
*.RData
*.Rhistory
*.png
*.html
*.pdf

# Ignore Quarto output files
Analysis_files/
Presentation_files/

# Ignore MacOs files
*.DS_Store

# Ignore R serialized objects
*.rds

# Ignore web files
*.html
*.css
*.js
