*.xlsx
*.gz
*.pdf
*.txt

# Ignore image files
/Images
*.png

# Ignore source files
Analysis/flat_files/
Analysis/metadata

# Ignore Quarto output files
Analysis/Analysis_files/
Presentation/Presentation*

# Ignore MacOs files
*.DS_Store

# Ignore R files
.Rproj.user
*.RData
*.Rhistory
*.rds

# Ignore web files
*.html
*.css
*.js

/.quarto/
